name: "{{ pack_name }} Example Workflow"
description: "TBD: describe what this workflow does"
steps:
  - id: example_step
    tool: "{{ tool_id_prefix }}_example_action"
    params:
      param: "example value"
